body {
    background-color: #212529;
    color: #c2c2c2
}

.img-thumbnail {
    background-color: #212529;
}

.card{
    background-color: #212529;
}

.bg-light, .modal-content, .form-control, .custom-select {
    background-color: #212529 !important;
    color: #c2c2c2 !important;
} 

.info-span {
    color: #c2c2c2 !important;
}

.nav-link {
    color: #c2c2c2 !important;
}

.sidebar {
    color: #c2c2c2 !important;
}

.table {
    color: #c2c2c2;
}

.badge-light {
   background-color: #c2c2c2;
}

.text-dark {
   color: #c2c2c2 !important;
}

.text-black-50 {
    color: rgba(255,255,255,1)!important;
}

.bg-white {
    background-color: #212529 !important;
}

.table-hover tbody tr:hover {
    background-color: rgba(255,255,255,.100);
    color: #fff;
}

.nav-link.nav-item.active {
    position: relative;
}

.nav-link.nav-item.active::before, .btn-sm.d-flex.flex-column.btn.active::before {
    content: '';
    display: block;
    width: 40px; 
    height: 40px;
    position: absolute;
    top: 0;
    right: 30px;
    transform: translateY(-100%);
    background-image: url("https://cdn.discordapp.com/emojis/615678167763517486.webp?size=96&quality=lossless");
    background-size: 40px 40px;
}

.btn-sm.d-flex.flex-column.btn.active::before {
    right: 10px;
}

.btn-sm.d-flex.flex-column.btn.active.focus {
    box-shadow: none !important;
}

body::before {
    content: '';
    display: block;
    width: 40px; 
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("https://cdn.discordapp.com/emojis/757704638207098946.gif?size=96&quality=lossless");
    background-size: 40px 40px;
    z-index: 999999;
}

.card-footer > .btn:not([disabled]):hover {
    position: relative;
}

.card-footer > .btn.mr-1:hover:not([disabled])::before, .card-footer > .btn.btn-danger:hover:not([disabled])::before{
    content: '';
    display: block;
    width: 20px; 
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://cdn.discordapp.com/emojis/776202375958102016.webp?size=96&quality=lossless");
    background-size: 20px 20px;
}

button.close {
    color: white !important;
}
